* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:lavender;
}

.main-container {
    display: flex;
    width: 60rem;
    height: 50rem;
    border: 2px solid black;
    justify-content: center;
    align-content: center;
    margin: 5rem auto;
    border-radius: 30px;
    box-shadow: 2px 4px 6px rgb(88, 88, 88);
    position: relative;
    background-color: rgb(225, 225, 254);
}

h2 {
    display: inline;
    position: relative;
    top: 12%;
    left: 17%;
    font-size: 2rem;
    color: rgb(63, 63, 63);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    padding: 10px;
}

.container svg {
    position: absolute;
    right: 6px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
}

.cal-input {
    position: relative;
    display: inline-block;
    top: 25%;
    right: 38%;
}

.cal-input input {
    width: 20rem;
    height: 4rem;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cal-input::-webkit-calendar-picker- {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    
}

