* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  margin: 3rem auto;
  padding: 3.5em;
  border: 2px solid rgb(30, 30, 30);
  border-radius: 24px;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
  width: 60%;
  height: 50em;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

header h1 {
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  text-align: center;
}

p {
  font-size: 1.5rem;
  font-family: sans-serif;
}

header p {
  color: grey;
  text-align: center;
}

.container {
  height: 30rem;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  left: 40%;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #000000;
  transform: translateX(-50%);
  max-height: 400px;
}

.container .content {
  display: flex;
  gap: 3rem;
  justify-content: center;
  position: relative;
  margin-bottom: 3.7rem;
}

.container .content::before {
  content: "";
  position: absolute;
  left: 40%;
  top: 50%;
  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;
  transform: translate(-50%, 50%);
}

.container .change {
  position: absolute;
  left: 45%;
}

.container .date {
  color: grey;
  position: absolute;
  left: 15%;
}

button {
  font-size: 1.3rem;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .main-container {
    width: 85%;
    height: 50rem;
    gap: 3rem;
  }

  .container .content {
    display: block !important;
    padding: 1rem 0 1rem 2rem;
    margin-bottom: 1.6rem;
  }

  .container .content::before {
    left: 0;
    top: 1rem;
  }

  .container::before {
    left: 0rem;
    max-height: 460px;
  }

  .container .date,
  .container .change {
    display: block !important;
    margin-left: 0.5rem;
  }

  .container .change {
    margin-top: 0.5rem;
  }

  header h1 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.2rem;
  }

  button {
    margin: 2.8rem auto;
  }
}

@media (max-width: 480px) {
  .main-container {
    width: 95%;
    padding: 1.5em;
    gap: 2.5rem;
  }

  .container .content {
    display: block !important;
    padding: 1rem 0 1rem 1.4rem;
    margin-bottom: 1.4rem;
  }

  .container .content::before {
    left: 0;
    top: 1rem;
  }

  .container::before {
    left: 0rem;
    max-height: 440px;
  }

  .container .date,
  .container .change {
    display: block !important;
    margin-left: 0.5rem;
  }

  .container .change {
    margin-top: 0.5rem;
  }

  header h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.1rem;
  }

  button {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: black;
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 412px) {
  .main-container {
    width: 95%;
    height: auto;
    gap: 2rem;
  }

  .container .content {
    display: block !important;
    padding: 1rem 0 1rem 1.4rem;
    margin-bottom: 1.5rem;
  }

  .container .content::before {
    left: 0;
    top: 1rem;
  }

  .container::before {
    left: 0rem;
    max-height: 460px;
  }

  .container .date,
  .container .change {
    display: block !important;
    margin-left: 0.5rem;
  }

  .container .change {
    margin-top: 0.5rem;
  }

  header h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    font-size: 0.9rem;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: black;
    margin: 2.8rem auto 0;
    display: flex;
    justify-content: center;
  }
}
